body { 	
  @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
  font-family: 'Source Sans Pro', sans-serif;
	color: black;
  display: flex;
  background-color: #FFF;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

h1 {
  flex-basis: 100%;
  text-align: center;
}

.upper-grid {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.upper-grid .slider {
  grid-column-start: 1;
  grid-column-end: 9;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  left: -18%;
  margin-bottom: 10px;
}

.slide1, .slide2 {
  height: 200px;
}

.slide1 img, .slide2 img {
  height: 100%;
  margin-right: 10px;
  border-radius: 5px;
}

.paragraph {
  grid-column-start: 9;
  grid-column-end: 13;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 20px;
}

.paragraph p{
  flex-basis: 100%;
  font-weight: bold;
  font-size: 32px;
  display: flex;
  align-items: flex-end;
  color: #134880;
  margin: 0;
}

.lower-grid {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
}

