body { 	
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: black;
  display: flex;
  background-color: #FFF;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 0;
}

h1 {
  flex-basis: 100%;
  text-align: center;
}

.slider {
  flex-basis: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
  left: -20%;
  margin-right: 20px;
}

.paragraph {
  float: right;
  height: 200px;
  left: -20%;
  position: relative;
}

.paragraph p {
  flex-basis: 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.2px;
  color: #134880;
  margin-top: 0;
}

.prev, .next {
  cursor: pointer;
}

.prev {
  height: 60px;
  width: 60px;
  flex-basis: 100%;
}
.slide1, .slide2 {
  height: 200px;
  position: relative;
}

.slide1 img, .slide2 img {
  height: 100%;
  border-radius: 5px;
  margin-right: 10px;
}