@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
header {
  grid-column: span 24;
  display: grid;
  grid-template-columns: 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px;
  margin-bottom: 60px;
}
header .empty-div-header {
  grid-column-start: 1;
  grid-column-end: 8;
  height: 100px;
  background-color: #DDDDDD;
  border-radius: 0px 0px 5px 5px;
}
header .text-div-header {
  grid-column-start: 9;
  grid-column-end: 24;
  height: 100px;
  background-color: #DDDDDD;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #FFF;
  line-height: 18px;
  padding: 40px 80px;
  font-weight: bold;
  border-radius: 0px 0px 5px 5px;
}

.text-article {
  grid-column-start: 16;
  grid-column-end: 24;
  grid-row: span 2;
  z-index: 10;
  background-color: #FFF;
  display: grid;
  grid-template-columns: 20px 60px 20px 60px 20px 60px 20px 60px;
  grid-template-rows: 120px 20px 156px;
}
.text-article div:first-of-type {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}
.text-article div:first-of-type h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 32px;
  color: #134880;
  line-height: 38px;
  letter-spacing: -0.2px;
  font-weight: 900;
}
.text-article div:last-of-type {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 4;
}
.text-article div:last-of-type p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #484A4C;
  line-height: 26px;
  letter-spacing: -0.2px;
}

footer {
  grid-column: span 24;
  height: 100px;
  background: #DDDDDD;
  border-radius: 5px 5px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #FFF;
  line-height: 18px;
  font-weight: bold;
  padding: 42px 82px;
  margin-top: 60px;
}

.slider-top {
  grid-column-start: 1;
  grid-column-end: 16;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  left: -880px;
  margin-bottom: 10px;
}
.slider-top .slide-top {
  position: relative;
  height: 200px;
  transition: opacity 500ms linear;
}
.slider-top .slide-top img {
  height: 100%;
  border-radius: 5px;
  margin-right: 10px;
}

.slider-bottom {
  grid-column-start: 1;
  grid-column-end: 12;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  left: -900px;
}
.slider-bottom .slide-bottom {
  position: relative;
  height: 200px;
  transition: opacity 500ms linear;
}
.slider-bottom .slide-bottom img {
  height: 100%;
  border-radius: 5px;
  margin-right: 10px;
  transform: scale(1);
}

.invisible {
  opacity: 0;
}

.button-article {
  grid-column-start: 12;
  grid-column-end: 16;
  display: grid;
  grid-template-columns: 20px 60px 20px 60px 20px;
  grid-template-rows: 60px 10px 60px;
  z-index: 10;
  background-color: #FFF;
}
.button-article button {
  cursor: pointer;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  grid-column-start: 4;
  transition: 0.2s linear;
}
.button-article button:hover {
  border: 1px solid #134880;
}
.button-article button:active {
  background-color: #75aeea;
}
.button-article .prev {
  background-color: #FFF;
  background-image: url("../../../assets/arrow-gray-left.png");
  background-repeat: no-repeat;
  background-position: center;
  grid-row-start: 1;
}
.button-article .prev:hover {
  background-image: url(../../../assets/arrow-blue-left.png);
}
.button-article .next {
  background-color: #FFF;
  background-image: url("../../../assets/arrow-gray-right.png");
  background-repeat: no-repeat;
  background-position: center;
  grid-row-start: 3;
}
.button-article .next:hover {
  background-image: url(../../../assets/arrow-blue-right.png);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #FFF;
}

.container {
  display: grid;
  grid-template-columns: 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px;
  max-width: 940px;
}

main {
  grid-column: span 12;
  display: grid;
  display: grid;
  grid-template-columns: 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px 20px 60px;
  background-color: #FFF;
}

/*# sourceMappingURL=style.css.map */
