@mixin set-font($font-style, $font-size, $color, $line-h) {
  font-family: $font-style;
  font-size: $font-size;
  color: $color;
  line-height: $line-h;
}

@mixin set-grid($size, $gap) {
  display: grid;
  grid-template-columns: $size $gap $size $gap $size $gap $size $gap $size $gap $size $gap $size $gap $size $gap $size $gap $size $gap $size $gap $size;
}

@mixin set-flex($wrap, $direction) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin set-image($color, $url, $repeat, $position) {
  background-color: $color;
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
}

@mixin animate($name, $duration, $method) {
  animation: $name $duration $method;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}