header {
  
  grid-column: span 24;
  @include set-grid(60px, 20px);
  margin-bottom: 60px;

  .empty-div-header {
    grid-column-start: 1;
    grid-column-end: 8;
    height: 100px;
    background-color: $background-color-secondary;
    border-radius: 0px 0px 5px 5px;
  }

  .text-div-header {
    grid-column-start: 9;
    grid-column-end: 24;
    height: 100px;
    background-color: $background-color-secondary;
    @include set-font($font-secondary, 15px, #FFF, 18px);
    padding: 40px 80px;
    font-weight: bold;
    border-radius: 0px 0px 5px 5px;
  }
}